<div>
   
    <div >
        <p>Votre nom : {{name}} </p>
    </div>
         
    <div >
        <p>Votre prénom : {{firstname}} </p>
    </div>
    <div >
        <p>Votre email : {{email}} </p>
    </div>
    <div >
        <p>Votre login : {{login}} </p>
    </div>
    <div >
        <p>Votre password : {{pwd}} </p>
    </div>
    <div >
        <p>Votre pays : {{pays}} </p>
    </div>

    <div >
        <p>Votre genre : {{gender}} </p>
    </div>
    <div >
        <p>Votre ville : {{city}} </p>
    </div>

    <div >
        <p>Votre CP : {{cp}} </p>
    </div>

    <div >
        <p>Votre adresse : {{adresse}} </p>
    </div>

    <div >
        <p>Votre téléphone : {{tel | phoneNumber:pays}} </p>
    </div>

</div>