<div>
    <form [formGroup]="myForm" >

        <label for="producttype">Quel type de produit voulez-vous ?</label>
        <select 
        [formControl]="producttype"
            class="form-control">
            <option value=""></option>
            <option value="outil">Outil</option>
            <option value="info">Informatique</option>
            <option value="carburant">Carburant</option>
        </select>

        <label for="productname">Nom du produit que vous recherchez : </label>
        <input type="text"
            [formControl]="productname"
            class="form-control">
           
        

        <button class="btn btn-primary" type="button" (click)="onSearchSubmit()">Search</button>


    </form>
    <div id="result">
        <p> Résultat : </p>
        <div *ngFor="let item of products | async">

                <p>Nom : {{ item.name }}</p> 
                <p>Prix : {{ item.prix }}€ </p>
                <p>Type : {{ item.type }}</p>
            
                <button><li [routerLink]="['/productdetail',item.id]" routerLinkActive="router-link-active" >Détails</li></button>
                <button (click)="addToPanier(item)">Ajouter au panier</button>
        </div>
    </div>
        
</div>